{% extends "base.html" %}

{% block header %}
	<h1>Asistencias de Sección {{secciones.actual.numero}}, Prof. {{secciones.actual.nombre_profesor}}</h1>	
		
{% endblock header %}

{% block contenido %}
	
	<div class="row">
		<div class="span12">
			<div class="navbar">
				<div class="navbar-inner">					
					<ul class="nav">											
						<li class="form-search">							
							<a><input type="text" class="input-xxlarge search-query" placeholder="Búscate, introduce tu nombre y/o apellido"></a>						
						</li>						
					</ul>
				</div>
			</div>				
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>							
							Cédula												
						</th>
						<th>Nombre y Apellido</th>							
						<th>Asistencias</th>
						<th>Rendimiento</th>
						<th>Nota</th>
					</tr>
				</thead>
				<tbody>
					{% for alumno in alumnos %}								 
							<tr class="alumno" >	
								
								<td class="alumno_cedula">{{alumno.cedula}}</td>
								<td class="alumno_nombre_completo">{{alumno.nombre}} {{alumno.apellido}}</td>								
								<td>{{alumno.asistencias_total}}/{{num_semanas}}</td>				
								<td>
									{% if  alumno.acum <= 35 %}
										<div class="progress progress-danger">									
									{% elif alumno.acum < 80 %}
										<div class="progress progress-warning">
									{% elif alumno.acum >= 80 and alumno.acum < 100 %}
										<div class="progress progress-success">
									{% elif alumno.acum >= 100 %}				
										<div class="progress progress-info">						
									{% endif %}																	
										<div class="bar" style="width: {{alumno.acum}}%"></div>
									</div>		
								</td>
								<td>{{alumno.nota}}</td>
								<td>
									<a class="btn consulta_clase" href="{% url asistencias.views.consulta_alumno secciones.actual.numero alumno.id %}" rel="tooltip" data-title="Consulta tus clases">
										<i class="icon-check"></i>
									</a>	
								</td>
								
							</tr>
					{% empty %}		
						<tr>
							<td style="text-align: center;" colspan="5">Esta sección no posee alumnos.</td>	
						</tr>										
					{% endfor %} 
				</tbody>
			</table>				
		</div>		
	</div>	
		
{% endblock contenido %}

{% block js %}
	<script src='{{STATIC_URL}}js/bb-busqueda_alumno.js'/></script>		
{% endblock js %}